<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<title>cs_customer</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/ctbc.css">
		<link rel="stylesheet" href="/stylesheets/cs_customer.css">
		<link rel="stylesheet" href="/stylesheets/common.css">
	</head>
	<body>
		
		<!-- Customer Dialog -->
		<div id='cs_customer_dialog'>
			<div id='console'>
			</div>
			<div>
				<input id='chat_text' />
				<button id='send_button'>送出</button>
				<a id='emotionIcon' href='#' class='chatUi__iconEmoticon'></a>
			</div>
			<div >
				<div id='emoticon_container'></div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script src="/javascripts/cs_customer_preset.js"></script>
		<script src="/javascripts/cs_customer.js"></script>
		<script src="/javascripts/common.js"></script>

	</body>
</html>
