<!DOCTYPE html>
<html>
	<head>
		<title>cs_customer</title>
	</head>
	<frameset cols="1*,2*">
		<frame src="./cs_customer_list" name="list" >
		<frame src="./cs_customer_dialog" name="dialog">
	</frameset>
</html>
