<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<meta property="og:image" content="https://cf55ae10.ngrok.io/FEIB_POC/servicebot.png" />
		<title>cs_customer</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/ctbc.css">
		<link rel="stylesheet" href="/stylesheets/cs_customer.css">
		<link rel="stylesheet" href="/stylesheets/common.css">
		<script>
			var socket_server_ip = '<%= socket_server_ip  %>';
			var client_id_b64 = '<%= c  %>';
			var service_id_b64 = '<%= s  %>';
		</script>
	</head>
	<body>
		
		<!-- Customer Dialog -->
		<div class='cs_customer_dialog current_view'>
			<div class="header_content">
				<div class="heder_service">
					<img alt="" class="img-responsive" src="">
				</div>
				<div class="txt">
					<div class="logo">
					</div>
					服務專員
				</div>
			</div>
			<div id='console'>
				<div class="loading_div">
					<img src="/images/loading.gif" />
				</div>
			</div>
			<!-- 下方控制面板 -->
				<div class="control-bar">
					<!-- 表情符號(隱) -->
					<div>
						<div id='emoticon_container'></div>
					</div>
					<!-- 對話頁面(顯) -->
					<div class="smart_top" avalon-events="" style="">
						<div class="box">
							<a href="javascript:void(0)" class="btn-laugh" avalon-events="">
							</a>
							<a href="javascript:void(0)" class="btn-picture" avalon-events="">
							</a>
							<input type='file' id='upload_picture' name='upload_picture' style='display:none;' accept="image/*"  onchange="save_picture()">
							<input class="input msg" placeholder="你想問什麼？" maxlength="30" avalon-events="" type="text">
							<a href="javascript:void(0)" class="btn-mic" avalon-events="">
								<span class="btn-search">
									<i></i>
								</span>
							</a>
						</div>
					</div>
				</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script src="/javascripts/socket.io/socket.io.js"></script>
		<script src="/javascripts/common.js"></script>
		<script src="/javascripts/cs_customer_preset.js"></script>
		<script src="/javascripts/cs_customer.js"></script>

	</body>
</html>
