<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<title>cs_manager</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/CTBC.css">
		<link rel="stylesheet" href="/stylesheets/cs_manager.css">
		
	</head>
	<body>
	
		<!-- Left Hand Side-->
		<div id='cs_manager_list'>
			<div id="search_box_container">
				<button>O</button>
				<input type="text" placeholder="搜尋"/>
			</div>
			<div id="tabs">
				<ul>
					<li><a href="#tabs_all">全部</a></li>
					<li><a href="#tabs_unread">未讀</a></li>
					<li><a href="#tabs_note">提醒</a></li>
				</ul>
				<div id="tabs_all"></div>
				<div id="tabs_unread"></div>
				<div id="tabs_note"></div>
			</div>
		</div>
		
		<!-- Right Hand Side-->
		<div id='cs_manager_dialog'>
			<h1>cs_manager_dialog</h1>
			<table id="my_container">
				<tr>
					<td colspan='2'>
						<div id='console'>
							<div class='dialog customer'>
								<label for='customer-1'>Customer</label>
								<p id='customer-1'>Hello, I need your help.</p>
							</div>
							<div class='dialog officer'>
								<label for='officer-1'>Officer</label>
								<p id='officer-1'>How can I help you?</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<input id='chat_text' />
					</td>
					<td>
						<button id='send_button'>送出</button>
						<button id='func_menu'>功能</button>
					</td>
				</tr>
			</table>
			
			<!-- Menu After click "功能"-->
			<ul id ="func_list">
				<li><div>金牌話術</div></li>
				<li><div>訊息推播</div></li>
				<li><div>照片</div></li>
				<li><div>相機</div></li>
				<li><div>撥打</div></li>
				<li><div>出價</div></li>
				<li><div>車主資料</div></li>
				<li><div>常用訊息</div></li>
			</ul>
		</div>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script src="/javascripts/cs_manager_preset.js"></script>
		<script src="/javascripts/cs_manager.js"></script>

	</body>
</html>
