<!DOCTYPE html>
<html>
    <head>
        <title>cs_manager_dialog</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<style>
			#console, #console div {
				border: 1px solid #000;
			}
			#console{
				height:400px;
			}
			#chat_text{
				width:400px;
			}
			.dialog{
				height:40px;
			}
			.dialog.customer *{
				float:left;
			}
			.dialog.officer *{
				float:right;
			}
			#func_list{
				display:none;
			}
			.ui-menu { 
				width: 150px; 
			}
		</style>
    </head>
    <body>
		<h1>cs_manager_dialog</h1>
		<table id="my_container">
			<tr>
				<td colspan='2'>
					<div id='console'>
						<div class='dialog customer'>
							<label for='customer-1'>Customer</label>
							<p id='customer-1'>Hello, I need your help.</p>
						</div>
						<div class='dialog officer'>
							<label for='officer-1'>Officer</label>
							<p id='officer-1'>How can I help you?</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<input id='chat_text' />
				</td>
				<td>
					<button id='send_button'>送出</button>
					<button id='func_menu'>功能</button>
				</td>
			</tr>
		</table>
		<ul id ="func_list">
			<li><div>金牌話術</div></li>
			<li><div>訊息推播</div></li>
			<li><div>照片</div></li>
			<li><div>相機</div></li>
			<li><div>撥打</div></li>
			<li><div>出價</div></li>
			<li><div>車主資料</div></li>
			<li><div>常用訊息</div></li>
		</ul>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			$(function(){
				$( "#func_list" ).menu();
				$("#func_menu").click(function(){
				
					$("#func_list").toggle();
					$("#func_list").position({
					  my: "right-10 bottom-10",
					  at: "right top",
					  of: "#func_menu"
					});
				});
				
			});
		</script>
	</body>
</html>
