<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<title>cs_manager</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/ctbc.css">
		<link rel="stylesheet" href="/stylesheets/cs_manager.css">
		<link rel="stylesheet" href="/stylesheets/common.css">
		
	</head>
	<body>
	
		<!-- Left Hand Side-->
		<div id='cs_manager_list'>
			<div id="search_box_container">
				<button>O</button>
				<input type="text" placeholder="搜尋"/>
			</div>
			<div id="tabs">
				<ul>
					<li><a href="#tabs_all">全部</a></li>
					<li><a href="#tabs_unread">未讀</a></li>
					<li><a href="#tabs_note">提醒</a></li>
				</ul>
				<div id="tabs_all"></div>
				<div id="tabs_unread"></div>
				<div id="tabs_note"></div>
			</div>
		</div>
		
		<!-- Right Hand Side-->
		<div id='cs_manager_dialog'>
			<h1>cs_manager_dialog</h1>
				<div id='console'>
				</div>
				<div>
					<input id='chat_text' />
					<button id='send_button'>送出</button>
					<button id='func_menu'>功能</button>
					<a id='emotionIcon' href='#' class='chatUi__iconEmoticon'></a>
				</div>
				<div >
					<div id='emoticon_container'></div>
				</div>
			
			<!-- Div After click "相機"-->
			<div id='video_container'>
				<video autoplay></video>
			</div>
			
			<!-- Menu After click "功能"-->
			<div id='func_list_containter'>
				<ul id ="func_list">
					<li><div>金牌話術</div></li>
					<li><div>訊息推播</div></li>
					<li><div>照片</div></li>
					<li><div>相機</div></li>
					<li><div>撥打</div></li>
					<li><div>出價</div></li>
					<li><div>車主資料</div></li>
					<li><div>常用訊息</div></li>
				</ul>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script src="/javascripts/cs_manager_preset.js"></script>
		<script src="/javascripts/cs_manager.js"></script>
		<script src="/javascripts/common.js"></script>
		
	</body>
</html>
