<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<meta property="og:image" content="https://cf55ae10.ngrok.io/FEIB_POC/servicebot.png" />
		<title>客服人員後台</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/ctbc.css">
		<link rel="stylesheet" href="/stylesheets/cs_manager.css">
		<link rel="stylesheet" href="/stylesheets/common.css">
		
		<script>
			var socket_server_ip = '<%= socket_server_ip  %>';
		</script>
	</head>
	<body>
	
		<!-- 登入前 -->
		<div class='login_panel'>
			<h2>登入頁面</h2>
			<ul>
				<li>帳號: <input type='text' id='username' value='AA94453'/></li>
				<li>密碼: <input type='password' id='password' value='ab#1234'/></li>
			</ul>
			<button onclick='to_login()'>登入</button>
		</div>
		<!-- 登入後 (左) -->
		<div class='after_login'>
			<div class='cs_manager_list current_view'>
				<div class='list_header'>
					<div class='header_logo'></div>
					<div class="search_box_container">
						<input type="text" placeholder="搜尋"/>	
					</div>
				</div>
				<div class='cs_manager_list_container'>
					<!-- 預設假底圖 -->
					 <div class="list_element" customer_id="C0003" style="opacity:0.2;">  <div class="img" alt="">  <img src="/images/avatar.png" alt="">  </div>  <div class="chat_body">  <div class="title">  CT200H/ABZ-1234/王大明  </div>  <div class="msg">  是的  </div>  </div> <div class="unread">  2  </div>   <div class="note" title="">  <div class="tooltip">重要提醒  <span class="tooltiptext">生日</span>  </div>  </div> </div> <div class="list_element" customer_id="C0001" style="opacity:0.2;">  <div class="img" alt="">  <img src="/images/avatar.png" alt="">  </div>  <div class="chat_body">  <div class="title">  ES200/ABE-1234/陳大為  </div>  <div class="msg">  謝謝！！  </div>  </div> <div class="unread">  4  </div>   <div class="note" title="">  <div class="tooltip">重要提醒  <span class="tooltiptext">保險到期日09/26</span>  </div>  </div> </div> <div class="list_element" customer_id="UWtqzPU9@&amp;smq9b&amp;KVvf" style="opacity:0.2;">  <div class="img" alt="">  <img src="/images/avatar.png" alt="">  </div>  <div class="chat_body">  <div class="title">  RX450H/ACE-8866/林小東  </div>  <div class="msg">  感謝您！  </div>  </div>   </div> <div class="list_element" customer_id="KEpz5bFFx&amp;mnzd5UZfZf" style="opacity:0.2;">  <div class="img" alt="">  <img src="/images/avatar.png" alt="">  </div>  <div class="chat_body">  <div class="title">  GS300/LXS-8888/吳小涵  </div>  <div class="msg">  了解  </div>  </div>   </div> <div class="list_element" customer_id="Qr8zrWexwdXtbHQkV5bY" style="opacity:0.2;">  <div class="img" alt="">  <img src="/images/avatar.png" alt="">  </div>  <div class="chat_body">  <div class="title">  NX200/AAA-0000/李小龍  </div>  <div class="msg">  您已寄出一張圖片  </div>  </div> </div>
				</div>
			</div>
			
			<!-- 登入後 (右) -->
			<div class='cs_manager_dialog hide_view'>
				<div class="header_content">
					<div class="heder_service">
						<img alt="" class="img-responsive" src="/images/back.png">
					</div>
					<div class="txt">
					</div>
				</div>
					<div id='console'>
					</div>
					
					<!-- 下方控制面板 -->
					<div class="control-bar">
						<!-- 功能列表(隱) -->
						<!--
						<div class="select-menu" style="display: none;">
							<ul class="select-tag05">
						
						<% ["金牌話術","_訊息推播","照片","相機","撥打電話","_預約","_車主資料","常用訊息"].forEach(function (item,i) { %>
							<% if( i!=0 && i%3==0 ){%>
								</ul>
								<ul class="select-tag05">
							<% } %>
							<li>
								<a href="javascript:void(0)" avalon-events="">
									<img alt="" class="img-responsive" src="/images/func.png" border="0">
									<%= item %>
								</a>
							</li>
						<% }); %>
							</ul>
						</div>
						-->
						<div>
							<div id="book-menu" class="select-menu samelayer" style="display: none;">
								<div class="table-title">基本資料</div>
								<div class="table-tr">
									<div class="table-td left">姓名</div>
									<div class="table-td right">
										<input id="cust-name" type="text" placeholder="姓名" value="" id="button_text">
									</div>
								</div>
								<div class="table-tr">
									<div class="table-td left">電話</div>
									<div class="table-td right">
										<input id="cust-phone" type="text" placeholder="電話" value="" id="button_text">
									</div>
								</div>
								<div class="table-tr">
									<div class="table-td left">方便連絡時段</div>
									<div class="table-td right">
										<select name="font" id="cust-contacttime" class="span1">
											<option value="" selected="selected" hidden>選擇時段</option>
											<option value="morning">早上</option>
											<option value="noon">下午</option>
											<option value="night">晚上</option>
										</select>
									</div>
								</div>
								<br/>
								<div class="table-title">選擇服務廠</div>
								<div class="table-tr">
									<div class="table-td left">是否在服務廠等候</div>
									<div class="table-td right">
										<input id="cust-wait" type="text" value="false" hidden/>
										<button id="cust-wait-btn">Ｘ 完工通知</button>
										<!-- toggle -> Ｏ 在場等候 -->
									</div>
								</div>
								<div class="table-tr">
									<div class="table-td left">服務地區</div>
									<div class="table-td right">
										<select name="font" id="service-area" class="span1">
											<option value="" selected="selected" hidden>選擇地區</option>
											<option value="A">地區A</option>
											<option value="B">地區B</option>
											<option value="C">地區C</option>
										</select>
									</div>
								</div>
								<div class="table-tr">
									<div class="table-td left">服務廠</div>
									<div class="table-td right">
										<select name="font" id="service-factory" class="span1">
											<option value="" selected="selected" hidden>選擇服務廠</option>
											<option value="01">XX廠</option>
											<option value="02">XX廠</option>
											<option value="03">XX廠</option>
										</select>
									</div>
								</div>
								<div class="table-tr">
									<div class="table-td left">預約日期</div>
									<div class="table-td right"><input type="text" id="service-date" size="30"></div>
								</div>
								<div class="table-tr">
									<div class="table-td left">預約時段</div>
									<div class="table-td right">
										<select name="font" id="service-time" class="span1">
											<option value="" selected="selected" hidden>選擇時段</option>
											<option value="時段1">時段1</option>
											<option value="時段2">時段2</option>
											<option value="時段3">時段3</option>
										</select>
									</div>
								</div>
								<div class="table-tr">
									<div class="table-td left">備註</div>
									<div class="table-td right">
										<textarea id="service-memo" placeholder="備註"></textarea>
									</div>
								</div>
								<div class="table-tr">
									<button type="button" id="book-reset" style="width:30%;">清除</button>
									<button type="button" id="book-submit" style="width:30%;">送出</button>
								</div>
							</div>
							<div id="book-log" class="samelayer" style="display: none;">
								<h3>預約記錄</h3>
								<a style="color: red;">若需修改時間，請重新預約或致電服務。</a>
								<div class="select-menu">
									<div class="table-tr">
										<div class="table-td left">愛車車牌</div>
										<div class="table-td right">愛車車牌</div>
									</div>
									<div class="table-tr">
										<div class="table-td left">服務廠</div>
										<div class="table-td right">廠廠廠</div>
									</div>
									<div class="table-tr">
										<div class="table-td left">服務內容</div>
										<div class="table-td right">內容</div>
									</div>
									<div class="table-tr">
										<div class="table-td left">預約時間</div>
										<div class="table-td right">時間</div>
									</div>

								</div>
								<h3>連絡資料</h3>
								<div class="select-menu">
									<div class="table-tr">
										<div class="table-td left">連絡人</div>
										<div class="table-td right">人</div>
									</div>
									<div class="table-tr">
										<div class="table-td left">連絡電話</div>
										<div class="table-td right">電話</div>
									</div>
									<div class="table-tr">
										<div class="table-td left">連絡時段</div>
										<div class="table-td right">時段</div>
									</div>
									<div class="table-tr">
										<div class="table-td left">其他意見</div>
										<div class="table-td right">意見</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 金牌話術(隱) -->
						<div>
							<div id='talk_tricks_container'>
							</div>
						</div>
						<!-- 表情符號(隱) -->
						<div>
							<div id='emoticon_container'></div>
						</div>
						<!-- 對話頁面(顯) -->
						<div class="smart_top" avalon-events="" style="">
							<div class="box">
								<a href="javascript:void(0)" class="btn-laugh" avalon-events="">
								</a>
								<input type='file' id='upload_picture' name='upload_picture' style='display:none;' accept="image/*"  onchange="save_picture()">
								<a id='dial_phone' href="tel:+886-919863010" style='display:none;'></a>
								<input class="input msg" placeholder="你想問什麼？" maxlength="30" avalon-events="" type="text">
								<a href="javascript:void(0)" class="btn-mic" avalon-events="">
									<span class="btn-search">
										<i></i>
									</span>
								</a>
							</div>
						</div>
						<div class="box">
							<div style="float:left;font-size: 1.3em;margin: 20px 8px;background-color: #ef3;cursor: pointer;">照片</div>
							<a href="javascript:void(0)" class="btn-book" avalon-events="">
							</a>
							<a href="javascript:void(0)" class="btn-booklog" avalon-events="">
							</a>
							<div style="float:left;font-size: 1.3em;margin: 20px 8px;background-color: #ef3;cursor: pointer;">換專員</div>
							<div style="float:left;font-size: 1.3em;margin: 20px 8px;background-color: #ef3;cursor: pointer;">車主資料</div>
							<div style="float:left;font-size: 1.3em;margin: 20px 8px;background-color: #ef3;cursor: pointer;">撥打</div>
							<div style="float:left;font-size: 1.3em;margin: 20px 8px;background-color: #ef3;cursor: pointer;">金牌話術</div>
						</div>
					</div>
					
					
				
				<!-- Div After click "相機"-->
				<div id='video_container'>
					<video autoplay></video>
				</div>
				<div id='talk_tricks_editor'>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script src="/javascripts/socket.io/socket.io.js"></script>
		<script src="/javascripts/common.js"></script>
		<script src="/javascripts/cs_manager_preset.js"></script>
		<script src="/javascripts/cs_manager.js"></script>
		
		
	</body>
</html>
