<!DOCTYPE html>
<html>
	<head>
		<title>cs_manager</title>
	</head>
	<frameset cols="1*,2*">
		<frame src="./cs_manager_list" name="list" >
		<frame src="./cs_manager_dialog" name="dialog">
	</frameset>
</html>
