<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<h3>
		<ul>
			<li><a href='/serv.do'>serv.do</a></li>
			<li><a href='/cust.do'>cust.do</a></li>
			<li><a href='/serv_fin.do'>serv_fin.do</a></li>
		</ul>
	</h3>
  </body>
</html>
