<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
	li{
		margin:6px 8px;
		font-weight:700;
	}
	</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<h3>
		<ul>
			<li><a href='/serv.do'>serv.do</a></li>
			<li><a href='/cust.do'>cust.do</a></li>
			<li><a href='/serv_fin.do'>serv_fin.do</a></li>
			<br>
			<li><a target='_blank' href='/cust.do?c=M2ZiIzIzRVY3MnVBciZGQUFAZnk=&s=Q3VzdG9tZXJTZXJ2aWNl'>cust_王大明_客服</a></li>
			<li><a target='_blank' href='/cust.do?c=QiVVblZXdTcmKjd0YXRwTDRLSHI=&s=Q3VzdG9tZXJTZXJ2aWNl'>cust_陳大為_客服</a></li>
			<li><a target='_blank' href='/cust.do?c=M2ZiIzIzRVY3MnVBciZGQUFAZnk=&s=U2FsZXM='>cust_王大明_業務</a></li>
			<li><a target='_blank' href='/cust.do?c=QiVVblZXdTcmKjd0YXRwTDRLSHI=&s=U2FsZXM='>cust_陳大為_業務</a></li>
			<li><a target='_blank' href='/serv.do?s=Q3VzdG9tZXJTZXJ2aWNl'>serv_客服</a></li>
			<li><a target='_blank' href='/serv.do?s=U2FsZXM='>serv_業務</a></li>
		</ul>
	</h3>
  </body>
</html>


<!--
	3fb#23EV72uAr&FAA@fy	M2ZiIzIzRVY3MnVBciZGQUFAZnk=
	B%UnVWu7&*7tatpL4KHr	QiVVblZXdTcmKjd0YXRwTDRLSHI=
	KEpz5bFFx&mnzd5UZfZf
	Qr8zrWexwdXtbHQkV5bY
	UWtqzPU9@&smq9b&KVvf

	CustomerService			Q3VzdG9tZXJTZXJ2aWNl
	Sales					U2FsZXM=
-->