#search_box_container{
	height:50px;
}
#search_box_container *{
	float:right;
}
/* CSS in List */
.list_element{
	height:30px;
}
.img, .msg {
	float:left;
}
.unread {
	background-color:#B43104;
}
.note {
	background-color:#FFBF00;
}
.unread, .note {
	color:white;
	float:right;
	border-radius:16px;
	padding:5px;
}
/* CSS in Dialog */
#console{
	height:400px;
	width: 100%;
	color: #324148;
	padding-top: 10px;
}
#chat_text{
	width:400px;
}
#emoticon_container{
	height:0px;
	overflow: hidden;
	transition: height 0.3s;
}
#emoticon_container.emotionIconOn{
	height:80px;
}

/* 
	tooltip css from
	https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip 
*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
	word-break:keep-all;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Dialog header */
.logo {
    width: 27px;
    height: 24px;
    background: url(/images/logo.png);
    display: inline-block;
    vertical-align: middle;
}
.header_content {
    height: 50px;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #27AE58;
    /* position: fixed; */
}
.header_content .txt {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    height: 50px;
}
/* Dialog footer-bar css */
.control-bar {
    position: fixed;
    -webkit-backface-visibility: hidden;
    width: inherit;
    bottom: 0;
    z-index: 99;
}
.control-bar .box {
    display: table;
	box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #ecf2ed;
}

.control-bar .box .btn-laugh , .control-bar .box .btn-laugh{
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	text-indent: 100%;
	white-space: nowrap;
	width: 60px;
	height: 60px;
}
.control-bar .box .btn-laugh {
	background: url(/images/laugh.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.control-bar .box .btn-add {
	background: url(/images/funcs.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.control-bar .box .input {
	box-sizing: border-box;
	border-radius: 30px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 40px;
	padding: 4px 13px;
	margin: 10px 0;
	color: #879195;
	font-size: 16px;
	line-height: 32px;
	border: none;
	background-color: #fff;
	border: 1px solid #cee6c5;
}
.control-bar .box a {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
	width: 80px;
	height: 60px;
	text-decoration: none;
	background-color: transparent;
}
span.btn-search {
    display: block;
    width: 60px;
    height: 40px;
    background-color: #27AE58;
    border-radius: 20px;
    margin: 10px auto;
    position: relative;
    z-index: 999;
}
span.btn-search i {
    width: 20px;
    height: 18px;
    background: url(/images/send.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 11px;
    left: 22px;
}