#search_box_container{
	height:50px;
}
#search_box_container *{
	float:right;
}
/* CSS in List */
.list_element{
	height:30px;
}
.img, .msg {
	float:left;
}
.unread {
	background-color:#B43104;
}
.note {
	background-color:#FFBF00;
}
.unread, .note {
	color:white;
	float:right;
	border-radius:16px;
	padding:5px;
}
/* CSS in Dialog */
#console{
	height:400px;
	width: 600px;
	color: #324148;
}
#chat_text{
	width:400px;
}
#emoticon_container{
	height:0px;
	overflow: hidden;
	transition: height 0.3s;
}
#emoticon_container.emotionIconOn{
	height:80px;
}

/* 
	tooltip css from
	https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip 
*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
	word-break:keep-all;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
