/* CTBC style */
.dialog--service .dialog__profile {
  float: left;
}
.dialog--service .dialog__content {
  float: left;
  margin-left: 20px;
  border-top-left-radius: 0;
}
.dialog--service .dialog__content:after {
  left: -15px;
  background-position: 0 0;
}
.dialog--service .dialogTips {
  left: 100%;
  margin-right: -100%;
}
.dialog--client .dialog__profile {
  float: right;
}
.dialog--client .dialog__content {
  float: right;
  margin-right: 20px;
  border-top-right-radius: 0;
}
.dialog--client .dialog__content:after {
  right: -15px;
  background-position: -15px 0;
}
.dialog--client .dialogTips {
  right: 100%;
  margin-left: -100%;
}
.dialog--service {
    margin-left: 20px;
}
.dialog--service .dialog__profile {
	left: -20px;
}
.dialog--service .dialog__content {
	margin-left: 0;
}
.dialog--client {
	margin-right: 20px;
}
.dialog--client .dialog__profile {
	right: -20px;
}
.dialog--client .dialog__content {
	margin-right: 0;
}