.cs_customer_dialog{
	width: 100%;
	display: block;
	overflow: hidden;
}

/* CTBC style */
.dialog--service .dialog__profile {
  float: left;
}
.dialog--service .dialog__content {
  float: left;
  margin-left: 20px;
  border-top-left-radius: 0;
}
.dialog--service .dialog__content:after {
  left: -15px;
  background-position: 0 0;
}
.dialog--service .dialogTips {
  left: 100%;
  margin-right: -100%;
}
.dialog--client .dialog__profile {
  float: right;
}
.dialog--client .dialog__content {
  float: right;
  margin-right: 20px;
  border-top-right-radius: 0;
  background-color:#D6D6D6;
}
.dialog--client .dialog__content:after {
  right: -15px;
  background-position: -15px 0;
}
.dialog--client .dialogTips {
  right: 100%;
  margin-left: -100%;
}
.dialog--service {
    margin-left: 20px;
}
.dialog--service .dialog__profile {
	left: -20px;
}
.dialog--service .dialog__content {
	margin-left: 0;
	background-color:#2299CC;
	color:#FFFFFF;
}
.dialog--client {
	margin-right: 20px;
}
.dialog--client .dialog__profile {
	right: -20px;
}
.dialog--client .dialog__content {
	margin-right: 0;
}

/* 手機頁面的不同 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	.dialog {
		position: relative;
	}
	.dialog--service {
		margin-left: 70px;
	}
	.dialog--service .dialog__profile {
		left: -70px;
	}
	.dialog--client {
		margin-right: 70px;
	}
	.dialog--client .dialog__profile {
		right: -70px;
	}
}
@media (max-width: 768px) {
	.dialog {
		position: relative;
	}
	.dialog--service {
		margin-left: 70px;
	}
	.dialog--service .dialog__profile {
		left: -70px;
	}
	.dialog--client {
		margin-right: 70px;
	}
	.dialog--client .dialog__profile {
		right: -70px;
	}
}