#cs_manager_list{
	width:calc(30vw);
	float:left;
}
#cs_manager_dialog{
	width:calc(60vw);
	float:left;
}
#func_list{
	display:none;
}
#func_list_containter{
	height:0px;
}
.ui-menu { 
	width: 150px; 
}

/* CTBC style */
.dialog--client .dialog__profile {
	float: left;
}
.dialog--client .dialog__content {
	float: left;
	margin-left: 20px;
	border-top-right-radius: 0;
}
.dialog--client .dialog__content:after {
	left: -15px;
	background-position: 0 0;
}
.dialog--client .dialogTips {
	left: 100%;
	margin-right: -100%;
}
.dialog--service .dialog__profile {
	float: right;
}
.dialog--service .dialog__content {
	float: right;
	margin-right: 20px;
	border-top-left-radius: 0;
}
.dialog--service .dialog__content:after {
	right: -15px;
	background-position: -15px 0;
}
.dialog--service .dialogTips {
	right: 100%;
	margin-left: -100%;
}
.dialog--client {
	margin-left: 20px;
}
.dialog--client .dialog__profile {
	left: -20px;
}
.dialog--client .dialog__content {
	margin-left: 0;
}
.dialog--service {
	margin-right: 20px;
}
.dialog--service .dialog__profile {
	right: -20px;
}
.dialog--service .dialog__content {
	margin-right: 0;
}

#video_container{
	position:absolute;
	display:none;
}
#video_container video{
	width:400px;
	height:300px;
}
