
.login_panel {
	width: 300px;
	margin: 120px auto;
	border: 1px solid #000;
	padding: 10px 20px;
	background-color:#efefef;
}
.after_login{
	display:none;
}

.cs_manager_list{
	width:calc(30vw);
	float:left;
	/*transition: width 0.3s;*/
	height: calc( 100vh - 50px );
	min-width:340px;
}
.cs_manager_list_container{
	overflow-x: hidden;
	overflow-y: scroll;
	width:100%;
	height:100%;
}
.cs_manager_dialog{
	width:calc(60vw);
	float:left;
	/*transition: width 0.3s;*/
	overflow:hidden;
	max-width: calc( 100vw - 380px);
}


.search_box_container{
	float:right;
	height: 100%;
	text-align:center;
	width: calc( 100% - 220px);
}
.search_box_container input {
    border: 1px solid #cccccc;
	position: relative;
	right: 4px;
    width: 90%;
	height: 26px;
	margin-top: 9px;
	border-radius:4px;
	padding:2px 4px;
}
.search_box_container button {
	width:26px;
	height:23px;
	background-image:url(/images/search_btn.png);
	border: 0;
	position: relative;
	left: 50px;
	bottom: 5px;
	z-index:1;
}
.list_header{
	height:50px;
	margin-left:4px;
}

.header_logo{
	width:200px;
	height:48px;
	background-image:url(/images/Lexus_logo_long.png);
	float: left;
	background-size:contain;
}

.dialog__profileImage > img {
    max-width: 60px;
}
/* CSS in List */
.list_element{
	height:60px;
	display: block;
	width: 100%;
	border: 1px solid #ddd;
}
.list_element.active{
	background-color:#fef;
}
.img{
	text-align: center;
	height: inherit;
	max-height:100%;
	width:60px;
}
.chat_body .title{
	padding-top:6px;
	word-break: keep-all;
	/*font-weight:600;*/
	font-size: 1em;
}
.chat_body .msg{
	padding-top:5px;
	font-size: 1.1em;
	color:#888;
	width: 200px;
	height: 20px;
	overflow: hidden;
}
.chat_body .img{
	max-width: 64px;
}

.img img{
	height:100%;
}
.img, .chat_body {
	float:left;
	max-width:calc( 100% - 160px );
	max-height:60px;
	overflow:hidden;
}
.unread {
	background-color:#B43104;
}
.note {
	background-color:#FFBF00;
}
.unread, .note {
	color:white;
	float:right;
	border-radius:16px;
	padding:4px;
	margin: 4px;
}
.timestamp{
	position: relative;
	top: calc( 100% - 20px );
	text-align: right;
	height: 0px;
}
/* 
	CTBC style for dialog
	from view-source:https://webchat.ctbcbank.com/webchat/resources/css/main.css
*/
.dialog--client .dialog__profile {
	float: left;
}
.dialog--client .dialog__content {
	float: left;
	margin-left: 20px;
	border-top-left-radius: 0;
	background-color: #D6D6D6;
}
.dialog--client .dialog__content:after {
	left: -15px;
	background-position: 0 0;
}
.dialog--client .dialogTips {
	left: 100%;
	margin-right: -100%;
}
.dialog--service .dialog__profile {
	float: right;
}
.dialog--service .dialog__content {
	float: right;
	margin-right: 20px;
	border-top-right-radius: 0;
	background-color:#2299CC;
	color:#FFFFFF;
}
.dialog--service .dialog__content:after {
	right: -15px;
	background-position: -15px 0;
}
.dialog--service .dialogTips {
	right: 100%;
	margin-left: -100%;
}
.dialog--client {
	margin-left: 20px;
}
.dialog--client .dialog__profile {
	left: -20px;
}
.dialog--client .dialog__content {
	margin-left: 0;
}
.dialog--service {
	margin-right: 20px;
}
.dialog--service .dialog__profile {
	right: -20px;
}
.dialog--service .dialog__content {
	margin-right: 0;
}

/* 
	Cathaybk css for function menu
	from https://www.cathaybk.com.tw/ChatWeb/resources/css/smart_style.css?patchDate=2018091301
*/
.select-menu {
	overflow: hidden;
    background-color: #fff;
    border-top: 5px solid #ecf2ed;
    display: table;
    width: 100%;
    padding: 5px 0px 15px;
}
.select-menu li {
    list-style: none;
    float: left;
    width: 33%;
    text-align: center;
    border-right: 1px solid #eaeaea;
}
ul.select-line li {
    border-right: none;
    margin: 0px;
}
ul.select-line hr {
    width: 50%;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.select-menu li:last-child {
    border-right: none;
}
.select-menu ul {
    padding: 0;
    margin: 0;
}

.select-menu li a{
  color: #2299CC;
  font-size: 16px;
}
.select-menu li a:hover,.select-menu li a:focus{
  text-decoration:none;
}

.select-menu li img {
    width: 60px;
    height: 60px;
    margin: 0px auto;
	display: block;
}


/* Function css */
#video_container{
	position:absolute;
	display:none;
}
#video_container video{
	width:calc(80vw);
	
	max-width:400px;
	height:300px;
}

#talk_tricks_container{
	height:0px;
	overflow: hidden;
	transition: height 0.3s;
	background-color: rgba(255, 200, 200, .4);
}
#talk_tricks_container.enable{
	height:auto;
	line-height:50px;
	border-bottom: 1px solid #ddd;
}
#talk_tricks_container.enable .talk_tricks_edit{
	float:right;
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url(/images/edit.png);
	cursor: pointer;
	margin-right: 15px;
}
.talk_trick{
	margin:4px;
	border: 2px solid #ccc;
    border-radius: 7px;
	padding: 6px;
	background-color: #eee;
	line-height: 20px;
	float:left;
}
.heder_service {
    position: relative;
	top: 14px;
    left: 11px;
	width:0px;
	height:0px;
}
.heder_service img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* 手機頁面的不同 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	.current_view{
		width:100%;
		display:block;
	}

	.hide_view{
		width:0px;
		display:none;
	}
	.dialog {
		position: relative;
	}
	.dialog--client {
		margin-left: 70px;
	}
	.dialog--client .dialog__profile {
		left: -70px;
	}
	.dialog--service {
		margin-right: 70px;
	}
	.dialog--service .dialog__profile {
		right: -70px;
	}
	.cs_manager_dialog{
		max-width:none;
	}
}
@media (max-width: 768px) {
	.current_view{
		width:100%;
		display:block;
	}

	.hide_view{
		width:0px;
		display:none;
	}
	.dialog {
		position: relative;
	}
	.dialog--client {
		margin-left: 70px;
	}
	.dialog--client .dialog__profile {
		left: -70px;
	}
	.dialog--service {
		margin-right: 70px;
	}
	.dialog--service .dialog__profile {
		right: -70px;
	}
	.cs_manager_dialog{
		max-width:none;
	}
}